@import "./../variables.scss";

.listwords_block {
  margin: 8px 0 0 0;
  overflow-x: auto;
}

.table {
  width: 350px;
  border-collapse: collapse;
  font-size: $fontSmall;
  background-color: $fon;

  @media (min-width: 350px) {
    width: 100vw;
  }

  @media (min-width: 768px), (orientation: landscape) {
    font-size: $fontAverage;
    width: 100vw;
  }
}

th,
td {
  width: 20%;
  padding: 1px;
  border: 1px solid $colorSecond;

  @media (min-width: 768px) {
    padding: 5px;
  }
}

.thead {
  color: $textLight;
  background: $colorBasic;
  font-size: $fontSmall;
}

.word,
.heading {
  color: $textDark;
  font-weight: $fontWeightBold;
}

.heading {
  padding: 10px;
  color: $colorBasic;
}

.input {
  width: 90%;
  padding: 2px;
  border: 1px solid $colorSecond;
  font-size: $fontSmall;
  outline: none;

  &:focus {
    border: 1px solid $colorBasic;
  }

  @media (min-width: 768px) {
    padding: 4px;
  }
}

.button_save,
.button_cancel {
  color: $textLight;
  border-color: $colorFourth;
  cursor: pointer;

  &:hover {
    color: $colorSecond;
  }

  &:disabled {
    color: $textDark;
  }
}

.button_save {
  margin: 0 10px;
  background-color: $colorFourth;
  border-color: $colorFourth;
}

.button_cancel {
  background-color: $colorThird;
  border-color: $colorThird;
}
