@import "./../variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $colorBasic;
}

.logo_block {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  padding: 5px;
}

.name {
  font-size: $fontAverage;
  font-weight: $fontWeightBold;
  color: green;
}

.enter,
.registration {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  border-color: $colorBasic;
  font-size: $fontTiny;
  cursor: pointer;
}

.enter {
  margin: 0 auto;
  background: white;
  color: $colorBasic;
}

.registration {
  background: $colorBasic;
  color: white;
}
