@import "./../variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_block {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  padding: 5px;
}

.name {
  font-size: $fontAverage;
  font-weight: $fontWeightBold;
  color: $colorFourth;
}

.enter,
.registration {
  border-color: $colorBasic;

  &:hover {
    color: $colorThird;
  }
}

.enter {
  background: $textLight;
  color: $colorBasic;
}

.registration {
  margin: 0 10px;
  background: $colorBasic;
  color: $textLight;
}
