$colorBasic: rgb(255, 165, 0);
$colorBasic_transparent: rgba(255, 165, 0, 0.2);
$colorSecond: rgb(211, 211, 211);
$colorThird: rgb(240, 103, 125);
$colorFourth: rgb(0, 128, 0);
$fon:rgb(247, 247, 220);
$textLight: rgb(255, 255, 255);
$textDark: rgb(72, 69, 69);

$fontWord: 50px;
$fontWordSecond: 32px;
$fontBig: 30px;
$fontAverage: 20px;
$fontSmall: 16px;
$fontTiny: 12px;

$fontWeightBold: 600;

$transition: all 0.3s linear;
