$colorBasic: rgb(255, 165, 0);
$textLight: rgb(255, 255, 255);
$textDark: rgb(49, 47, 47);

$fontWord: 40px;
$fontBig: 25px;
$fontAverage: 20px;
$fontSmall: 16px;
$fontTiny: 14px;

$fontWeightBold: 600;
