$colorBasic: rgb(255, 165, 0);
$colorBasic_transparent: rgba(255, 165, 0, 0.2);
$colorSecond:rgb(211, 211, 211);
$colorThird: rgb(240, 103, 125);
$colorFourth: rgb(0, 128, 0);
$textLight: rgb(255, 255, 255);
$textDark: rgb(72, 69, 69);

$fontWord: 40px;
$fontBig: 25px;
$fontAverage: 20px;
$fontSmall: 16px;
$fontTiny: 14px;

$fontWeightBold: 600;
