@import "./../variables.scss";

.footer {
  display: flex;
  padding: 10px 5px;
  align-items: center;
  justify-content: space-between; 
  border-top: 2px solid $colorSecond;
  }

.logo_block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  text-decoration: none;
}

.logo {
  width: 50px;
  padding: 5px;

  @media (min-width: 768px) {
    padding: 10px;
  }

}

.name {
  display: none;
  font-size: $fontAverage;
  font-weight: $fontWeightBold;
  color: $colorFourth;

  @media (min-width: 768px) {
    display: block;
  }
}

.text {
  font-size: $fontSmall;
  font-weight: $fontWeightBold;
  color: $colorFourth;
  margin: 5px 10px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid $colorBasic;
  }

  @media (min-width: 768px) {
    font-size: $fontAverage;
  }
}
