@import "./../variables.scss";

.footer {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $colorBasic;
  background-color: $textDark;
}

.logo_block {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  padding: 5px;
}

.name {
  display: none;
  font-size: $fontAverage;
  font-weight: $fontWeightBold;
  color: $textLight;

  @media (min-width: 768px) {
    display: block;
  }
}

.text {
  font-size: $fontSmall;
  font-weight: $fontWeightBold;
  color: $colorThird;
  padding: 5px 10px;
    cursor: pointer;

  &:hover {
    color: $textLight;
  }
}
