@import "./../variables.scss";

.card {
  width: 80%;
  border-radius: 10px;
  border: 5px solid $colorBasic;
  box-shadow: 4px 7px 7px 6px rgba(238, 201, 57, 0.2);

  @media (min-width: 768px) {
    width: 300px;
  }
}

.word {
  font-size: $fontWord;
  color: $textDark;
}

.transcription {
  font-size: $fontBig;
}

.text {
  padding: 5px;
}

.topic {
  font-size: $fontSmall;
  padding-bottom: 10px;
}

.image {
  width: 30%;
}
