@import "./../variables.scss";

.card {
  position: relative;
  width: 70%;
  height: 320px;
  border-radius: 10px;
  border: 5px solid $colorBasic;
  box-shadow: 4px 7px 7px 6px rgba(238, 201, 57, 0.2);

  @media (min-width: 768px), (orientation: landscape) {
    width: 300px;
  }
}

.english {
  margin: 80px auto 5px auto;
  font-size: $fontWord;
  color: $textDark;
}

.transcription {
  font-size: $fontAverage;
}

.topic {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 40px);
  font-size: $fontSmall;

  @media (min-width: 768px), (orientation: landscape) {
    left: 100px;
  }
}

.button {
  margin: 30px;
  border-color: $colorBasic_transparent;
  background: $colorBasic;
  color: $textLight;

  &:hover {
    font-weight: $fontWeightBold;
  }
}

.russian {
  margin: 25px;
  font-size: $fontBig;
  color: $colorBasic;
  cursor: pointer;

  &:hover {
    font-size: $fontWordSecond;
  }
}
